<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>FlaskSimple</title>
    <link href="../static/css/main.css" type="text/css" rel="stylesheet">
    
</head>

<body>
    <h2> Prix pour une personne pour une semaine ! </h2>
    <table class="table table-striped">
    <tr>
        <th> Pays </th>
        <th> Ville <th>
        <th> PRIX </th>
    </tr> 
    {% for pays, ville, prix in data %}
        <tr>
            <td>
                <p class="text-center" >{{pays}} </p>
            </td>
            <td>
               <p class="text-center" >{{ville}} </p>
            </td>
            <td>
                <p class="text-center" >{{prix}} </p>
            </td>
        </tr>
    {% endfor %}
    </table>
    <h2> Calculer  le prix de votre futur voyage ! </h2>
</body>
</html>